html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/404")
    title Studyanniversary
  body
    div.container-global
        h1.titles 404
        p.subtitles  cette page n'existe pas 
            div.container-nav-bar
                p.text  revenir en arrière
                div.container-btn-return
                    a(href='/').btn-return Home
                    a(href='/users').btn-return Users