html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet", href="/404")
    title Studyanniversary
  body
    h1 404 cette page n'existe pas 
    div.container-nav-bar
        p revenir en arrière
        div.container-btn-return
          a(href='/') Home
          a(href='/users') Users