<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/home" />
    <title>Studyanniversary</title>
  </head>
  <body>
    <header>
      <nav class="container-navbar">
        <div class="container-btn-nav">
          <a href="/" class="btn">Home</a>
          <a href="/users" class="btn">Users</a>
        </div>
      </nav>
    </header>
    <div class="container-global">
      <div class="container-title">
        <h1 class="titles">Studyanniversary</h1>
      </div>
      <div class="container-form">
        <p class="title-form">Formulaire d'ajout d'étudiants</p>
        <form action="/" method="POST">
          <div class="form-group">
            <label for="name"
              >Nom: <input type="text" name="name" class="form-control"
            /></label>
            <label for="birth"
              >Anniversaire:
              <input type="date" name="birth" class="form-control"
            /></label>
            <button type="submit" class="btn-submit">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
